body{
    background: silver;
}

.container{
    min-height: inherit;
}

header{
    min-height: 80px;
    background-color: white;
}


header .container .row{
    min-height: inherit;
}

.strip{
    min-height: 400px;
    background-color: #333;
    color: white;
}

.strip .row{
    min-height: inherit;
}

.strip .inside_strip{
    max-width: 500px;
}

main{
    min-height: 200px;
    background-color: white;
}